body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.container {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    font-size: 14px;
}

h1 {
    color: #004780;
}

button {
    padding: 10px;
    margin-top: 10px;
    width: 108%;
    color: white;
    background-color: #004780;
    border: none;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 10px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus {
    outline: 0;
    border-color: #004780;
}

.error {
    color: #e74c3c;
    font-size: 12px;
    margin-top: 5px;
}

.output {
    margin-top: 10px;
    color:green
}
